# Practice Problems 
# Conditionals

1. Write a program to check whether a person is eligible for voting or not

In [1]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age :  18

You are eligible to vote

2. Write a program to check whether a number is divisible by 7 or not

In [2]:
n = int(input("Enter a number: "))
if n % 7 == 0:
    print("The number is divisible by 7")
else:
    print("The number is not divisible by 7")

Enter a number:  39

The number is not divisible by 7

3. Write a program to display "Hello" if a number enetered by user is multiple of 5 otherwise print "bye"

In [3]:
n = int(input("Enter a number : "))
if n % 5 == 0:
    print("Hello")
else:
    print("bye")

Enter a number :  10

Hello

4. Write a program to calculate the electricity bill (take number of unit consumed as input): - Frist 100 units no charge,Next 100 units Rs 5 per unit and After 200 units Rs 10 per unit

In [5]:
n = int(input("Enter units consumed : "))
cost = 0
if n <= 100:
    print("No charge")
else:
    n -= 100
    if n <= 100:
        cost += (n * 5)
        print(f"Cost : {cost}")
    else:
        cost += (100 * 5)
        n -= 100
        cost += (n * 10)
        print(f"Cost : {cost}")

Enter units consumed :  350

Cost : 2000

5. Write a program to display the last digit of a number.

In [11]:
n = int(input("Enter a number : "))
print(n % 10)

Enter a number :  123

3

6. Write a program to check whether the last digit of a number is divisible by 3 or not

In [10]:
n = int(input("Enter a number : "))
if (n % 10) % 3 == 0:
    print("The last digit is divisible by 3")
else:
        print("The last digit is not divisible by 3")

Enter a number :  123

The last digit is divisible by 3

7. Write a program to accept of percentage from the user and display the grade

In [17]:
n = int(input("Enter your score : "))
if n > 90:
    print("A")
elif n > 80:
    print("B")
elif n > 60:
    print("C")
else:
    print("D")

Enter your score :  84

B

8. Write a program to accept the cost price of a bike and display the road tax to be paid

In [2]:
n = int(input("Enter the cost price of the bike : "))
tax = 0
if n > 100000:
    tax = 15 * n / 100
elif n > 50000:
    tax = 10 * n / 100
else:
    tax = 5 * n / 100
print(f"Road tax : {tax}")

Enter the cost price of the bike :  100001

Road tax : 15000.15

9. Write a program to check whether an year is leap or not

In [6]:
n = int(input("Enter the year : "))
if n % 400 == 0:
    print("It is a leap year")
elif n % 4 == 0:
    if n % 100 == 0:
        print("Its not a leap year")
    else:
        print("It is a leap year")
else:
    print("It is not a leap year")

Enter the year :  2200

Its not a leap year

10. WAP to accept a number from 1 to 7 and display the name of the day like 1 for sunday, 2 for monday, ...

In [11]:
n = int(input("Enter a number between 1 and 7 : "))
if n == 1:
    print("Sunday")
elif n == 2:
    print("Monday")
elif n == 3:
    print("Tuesday")
elif n == 4:
    print("Wednesday")
elif n == 5:
    print("Thurday")
elif n == 6:
    print("Friday")
elif n == 7:
    print("Saturday")
else:
    print("Number enterd is more than 7")

Enter a number between 1 and 7 :  3

Tuesday

11. WAP a program to accept a number from 1 to 12 and display names of the month and days in month like 1 for january

In [10]:
n = int(input("Enter a number between 1 and 12 : "))
if n == 1:
    print("January")
elif n == 2:
    print("Feburary")
elif n == 3:
    print("March")
elif n == 4:
    print("April")
elif n == 5:
    print("May")
elif n == 6:
    print("June")
elif n == 7:
    print("July")
elif n == 8:
    print("August")
elif n == 9:
    print("September")
elif n == 10:
    print("OCtober")
elif n == 11:
    print("November")
elif n == 12:
    print("December")
else:
    print("Number entered is more than 12")

Enter a number between 1 and 12 :  13

Number entered is more than 12

12. Accept any city from the user and display monument of that city 

City         Monument
Delhi        Red Fort
Agra         Taj Mahal
Jaipur       Hawa Mahal

In [2]:
x = input("Enter a city : ")
if x == 'Delhi':
    print("Red Fort")
elif x == 'Agra':
    print("Taj Mahal")
elif x == 'Jaipur':
    print("Hawa Mahal")
else:
    print(f"No data found for {x} city")

Enter a city :  Ahmedabad

No data found for Ahmedabad city

13. Write a program to check whether a number is 3 digit or not

In [6]:
n = int(input("Enter a number : "))
x = len(str(n))
if x == 3:
    print("The number is 3 digit")
else:
    print("The number is not 3 digit")

Enter a number :  1233

The number is not 3 digit

14. Write a program to find the lowest number out of two numbers accepted from user

In [18]:
x = int(input("Enter a number : "))
y = int(input("Enter another number : "))
if x < y:
    print(f"{x} is lesser than {y}")
elif x == y:
    print("Both numbers are equal")
else:
    print(f"{y} is lesser than {x}")

Enter a number :  12
Enter another number :  14

12 is lesser than 14

15. Write a program to check whether a number is divisible by 2 or 3 or both or none

In [17]:
n = int(input("Enter a number : "))
if n % 2 == 0:
    if n % 3 == 0:
        print(f"{n} is divisible by both 2 and 3")
    else:
        print(f"{n} is divisible by 2 only")
elif n % 3 == 0:
    print(f"{n} is divisible by 3 only")
else:
    print(f"{n} is not divisible by 2 and 3")

Enter a number :  6

6 is divisible by both 2 and 3

16. WAP to find the largest number out of two numbers accepted from user

In [19]:
x = int(input("Enter a number : "))
y = int(input("Enter another number : "))
if x > y:
    print(f"{x} is greater than {y}")
elif x == y:
    print("Both numbers are equal")
else:
    print(f"{y} is greater than {x}")

Enter a number :  13
Enter another number :  32

32 is greater than 13

17. Accept the following from the user and calculate the percentage of attended
a. Total number of working day
b. Total number of days of absent
After calculating the percentage, show that, ifthe percentage is less than 75, then students will not be able to sit in the exam.

In [27]:
total_days = int(input("Enter the total number of working days : "))
absent_days = int(input("Enter the number the number of days of absence : "))
per = (total_days - absent_days)/total_days * 100
if per < 75:
    print("The student won't be able sit in the exam")
else:
    print("The student will be able sit in the exam")

Enter the total number of working days :  100
Enter the number the number of days of absence :  26

The student won't be able sit in the exam

# For loops

1. WAP to print first 10 natural numbers

In [28]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. WAP to print first 10 even numbers

In [29]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

3. WAP to print first 10 odd numbers

In [30]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

4. WAP to print first 10 even numbers in reverse order

In [34]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

5. WAP to print a table of a number accepted from the user

In [36]:
n = int(input("Enter a number : "))
for i in range(1,11):
    print(f"{n} X {i} = {n * i}")

Enter a number :  4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

6. WAP to display product of the digits accepted from the user

In [39]:
n = int(input("Enter number of digits : "))
product = 1
for i in range(n):
    x = int(input("Enter the digit : "))
    product *= x
print(f"Product of the digit = {product}")

Enter number of digits :  3
Enter the digit :  12
Enter the digit :  11
Enter the digit :  1

Product of the digit = 132

7. WAP to find the factorial of a number

In [51]:
n = int(input("Enter a number : "))
fact = 1
for i in range(1, n+1):
    fact *= i
print(f"Factorial of {n} is {fact}")

Enter a number :  5

Factorial of 5 is 120

8. WAP to find the sum of the digits of a number accepted from user

In [58]:
n = int(input("Enter a number : "))
x = len(str(n))
t = 0
for i in range(x):
    t += n % 10
    n //= 10
print(f"Sum of the digits is {t}")

Enter a number :  123

Sum of the digits is 6

9. WAP to check whether a number is prime or not

In [65]:
n = int(input("Enter a number : "))
is_prime = True
for i in range(2, n):
    if n % i == 0:
        print("The number is not a prime")
        is_prime = False
        break
if is_prime:
    print("The number is a prime")

Enter a number :  17

The number is a prime

10. Print following pattarn
1
12
123
1234
12345

In [67]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j,end="")
    print()

1
12
123
1234
12345

11. Print following pattern
****
***
**
*

In [70]:
for i in range(4, 0, -1):
    print("*" * i)

****
***
**
*

12. Accept 10 number from the user and display their average using for loop

In [78]:
t = 0
for i in range(10):
    t += int(input("Enter a number : "))
print(f"The average of the numbers is {t/10}")

Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12
Enter a number :  12

The average of the numbers is 12.0

13. WAP to print all prime numbers that fall between two numbers including both

In [97]:
x = int(input("Enter the lower end : "))
y = int(input("Enter the higher end : "))
for i in range(x, y+1):
    is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i)

Enter the lower end :  5
Enter the higher end :  20

5
7
11
13
17
19

14. WAP to display sum of odd and even numbers that fall between 12 and 37 including both

In [98]:
odd = 0
even = 0
for i in range(12, 38):
    if i % 2 == 0:
        even += i
    else:
        odd += i
print(f"Sum of odd numbers is {odd}")
print(f"Sum of even numbers is {even}")

Sum of odd numbers is 325
Sum of even numbers is 312

15. WAP to display all the numbers which are divisible by 11 but not by 2 between 100 and 500

In [100]:
for i in range(100, 500):
    if i % 11 == 0:
        if i % 2 != 0:
            print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

16. WAP to print 1 to 20 except multiple of 2 and 3

In [101]:
for i in range(1,21):
    if i % 2 == 0 or i % 3 == 0:
        continue
    print(i)

1
5
7
11
13
17
19

17. WAP to print table of number

In [1]:
n = int(input("Enter a number : "))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

Enter a number :  3

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

# Lists

1. Create a list of the first 10 natural numbrs and print it.

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Append 'Python to this list: ['Java', 'C', 'C++']

In [3]:
l = ['Java', 'C', 'C++']
l.append('Python')
l

['Java', 'C', 'C++', 'Python']

3. 'JavaScript' at index 1 in the list:

In [7]:
l = ['Python', 'C++', 'Ruby']
l.insert(1, 'JavaScript')
l

['Python', 'JavaScript', 'C++', 'Ruby']

4. Revers the elements of the list

In [2]:
l = [1, 2, 3, 4, 5]
l1 = l[::-1]
print(l1)

[5, 4, 3, 2, 1]

5. Find the length of the list

In [6]:
l = ['apple', 'banana', 'cherry', 'elderberry']
x = len(l)
print(f"Length of the list is {x}")

Length of the list is 4

6. Check if 'mango' is present in the list

In [7]:
l = ['apple', 'banana', 'cherry']
print('mango' in l)

False

7. Square each element in the list and store it in a new list

In [8]:
l = [1, 3, 5, 7, 9]
l2 = [ i ** 2 for i in l]
print(l2)

[1, 9, 25, 49, 81]

8. Concatenate two lists

In [10]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1 + l2)

[1, 2, 3, 4, 5, 6]

9. Find the index of 'banana' in the list

In [15]:
l = ['apple', 'banana', 'cherry', 'date']
for i in range(len(l)):
    if l[i] == 'banana':
        print(i)
        break

1

10. Find the sum of all elements in the list

In [17]:
l = [10,20,30,40]
total = 0
for i in l:
    total += i
print(f"Sum of the elements is {total}")

Sum of the elements is 100

11. Extract all even numbers from the list

In [19]:
l = [10,15,20,25,30]
for i in l:
    if i % 2 == 0:
        print(i)

10
20
30

12. Generate a lst of even numbers from 1 to 20

In [20]:
l = [i for i in range(0,21,2)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

13. Extract all vowels from the string 'hello world'

In [16]:
l = [i for i in 'hello world' if i in 'aeiou']
l

['e', 'o', 'o']

# Strings

1.  WAP a program to remove a particular char from a string

In [2]:
s = input("Enter a string : ")
c = input("Enter the char to remove : ")
s.replace(c,"")

Enter a string :  saurya
Enter the char to remove :  a

'sury'

2. WAP to convert an int to a string

In [10]:
s = int(input("Enter a number : "))
s = chr(s)
print(s)

Enter a number :  97

a

3. WAP to count the number of words in a string without using split()

In [14]:
s = input("Enter a sentence : ")
length = 0
for i in s:
    if i == ' ':
        length += 1
length += 1
print(f"Number of words in the sentence are {length}")

Enter a sentence :  My name is saurya

Number of words in the sentence are 4

4. WAP to check whether the string is palindrome or not

In [17]:
s = input("Enter a string : ")
if s == s[::-1]:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string :  malayalam

The string is a palindrome

# Lambda Functions

1. Given a list of integers, use a lambda function to filter out all the even numbers

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
a = lambda l: [i for i in l if i%2==0]
a(l)

[2, 4, 6, 8, 10, 12, 14]

2. Write a lambda function to sort a list of strings based on their length

In [33]:
l = ['Saurya', 'Krish', 'Harshil', 'Jinay', 'Het']
a = lambda l:[i[1] for i in sorted(zip([len(i) for i in l], l))]
a(l)

['Het', 'Jinay', 'Krish', 'Saurya', 'Harshil']

3. Use a lambda function to create a new list where each number in the original list is double

In [2]:
l = [1,2,3,4,5]
a = lambda l: [i*2 for i in l]
a(l)

[2, 4, 6, 8, 10]

4. Create a lambda function that returns another lambda function which adds a speified number to its argumnet

In [5]:
x = 3
a = lambda

Enter a number :  12

22

5. Given a list of integers, use a lambda function to filter out all numbers greater than 10

In [6]:
l = [1,2,3,4,5,10,12,15,16,20]
a = lambda l: [i for i in l if i < 10]
a(l)

[1, 2, 3, 4, 5]

6. Write a lambda function to find the maximum value in a list of numbers

In [1]:
x = [1,2,3,4,5]
a = lambda l: max(l)
a(x)

5

7. Create a lambda function to reverse a given string

In [3]:
s = input("Enter a string : ")
a = lambda s: s[::-1]
a(s)

Enter a string :  Saurya

'ayruaS'

8. Write a lambda function to concatenate two strings with a space between them

In [5]:
s1 = 'Saurya'
s2 = 'Thakkar'
a = lambda s1, s2: f"{s1} {s2}"
a(s1,s2)

'Saurya Thakkar'

9. Use a lambda function to filter a list of strings keeping only those that contain the letter 'a'

In [6]:
l = ['Saurya', 'Krish', 'Harshil', 'Jinay', 'Het']
a = lambda l: [i for i in l if 'a' in i]
a(l)

['Saurya', 'Harshil', 'Jinay']

10. Given a list of tuples where each tuple contains a person's name and age (e.g., [('Alice', 30), ('Bob', 25), ('Charlie'35)], use a lambda function to sort the list by age in descendingÂ order.

In [6]:
l = [('Alice', 30), ('Bob', 25), ('Charlie',35)]
a = lambda l: [(i[1], i[0]) for i in sorted(zip([i[1] for i in l], [i[0] for i in l]), reverse=True)]
a(l)

[('Charlie', 35), ('Alice', 30), ('Bob', 25)]

# map(), reduce() and filter()

1. a list contain strings, you have to concatenate all the strings using reeduce function

In [2]:
s = 'saurya'
s = list(s)
from functools import reduce
reduce(lambda x,y: f"{x} {y}",s)

's a u r y a'

2. sum of the squares of all numbers in a list using reduce

In [8]:
l = [2,3]
reduce(lambda x,y: (x)+(y**2),l,0)

13

3. compute the total length of all strings in a list using reduce

In [5]:
s = ['s', 'a', 'u', 'r', 'y', 'a']
reduce(lambda x, l: x + len(l), s, 0)

6

4. product of all elements in a list of integers using reduce

In [3]:
l = [1,2,3,4,5]
reduce(lambda x, y: x * y, l)

120

# Exception Handling

1. take input of temperature and its unit(F/C) and convert it into other unit if user input some unit rasie a value error

In [5]:
temp = float(input("Enter the temperature : "))
measure = input("Enter C (celsius) or F (fahrenheit) : ")
try:
    if measure.lower() == 'c':
        print(( (9/5) * temp ) + 32)
    elif measure.lower() == 'f':
        print((temp - 32) * (5/9))
    else:
        raise ValueError
except ValueError:
    print("Enter the temperature in fehrenheit or celsius only")

Enter the temperature :  12
Enter C (celsius) or F (fahrenheit) :  c

53.6

# OOPS

create class atm
pin = '', balance = 0 
methods :-
create pin
change pin 
withdraw 
deposite
check bal
menu (to select method)

In [9]:
class atm:
    def __init__ (self, bal):
        self.bal = bal
        self.pin = ''
        self.menu()
    def menu(self):
        print("1.Create Pin \n2.Change Pin \n3.Withdraw Money \n4.Deposite Money \n5.Check bal \n6.Exit \n")
        c = int(input("Select a function : "))
        if c == 1:
            self.create_pin()
        elif c == 2:
            self.change_pin()
        elif c == 3:
            self.withdraw()
        elif c == 4:
            self.deposite()
        elif c == 5:
            self.check_bal()
        elif c == 6:
            exit()
        else:
            print("Invalid Input")
    def create_pin(self):
        pin = input("Create a 4 digit pin : ") 
        self.pin = pin
        self.menu()
    def change_pin(self):
        n = input("Enter your old pin : ")
        if self.pin == n:
            pin = input("Enter your new pin : ")
            self.pin = pin
        else:
            print("Wrong Pin!")
        self.menu()
    def withdraw(self):
        p = input("Enter you Pin : ")
        if p == self.pin:
            n = int(input("Enter the amount you want to withdraw : "))
            if self.bal < n:
                print("Insufficient balance")
            else:
                self.bal -= n
                print(f"Rs.{n} withdrawn")
                print(f"Rs.{self.bal} balance left")
        else:
            print("Wrong Pin!")
        self.menu()
    def deposite(self):
        p = input("Enter your Pin : ")
        if p == self.pin:
            n = int(input("Enter the amount you want to deposite : "))
            self.bal += n
            print("Deposited successfully")
            print(f"Rs.{self.bal} is your new balance")
        self.menu()
    def check_bal(self):
        print(f"Rs.{self.bal} is your current balance")
        self.menu()

n = int(input("Enter your balance : "))
a = atm(n)

Enter your balance :  10000

1.Create Pin
2.Change Pin
3.Withdraw Money
4.Deposite Money
5.Check bal
6.Exit

Select a function :  1
Create a 4 digit pin :  1234

1.Create Pin
2.Change Pin
3.Withdraw Money
4.Deposite Money
5.Check bal
6.Exit

Select a function :  3
Enter you Pin :  1234
Enter the amount you want to withdraw :  6000

Rs.6000 withdrawn
Rs.4000 balance left
1.Create Pin
2.Change Pin
3.Withdraw Money
4.Deposite Money
5.Check bal
6.Exit

Select a function :  3
Enter you Pin :  1234
Enter the amount you want to withdraw :  5000

Insufficient balance
1.Create Pin
2.Change Pin
3.Withdraw Money
4.Deposite Money
5.Check bal
6.Exit

Select a function :  6

Changes to above

As soon as the object is created the user needs to create a pin and deposition after the pin creation

Therefore the create pin functions won't be an option

Will creating or changing the pin it should only of 4 digit, if invalid input is given give 3 chances if all are invalid exit from the object

while checking pin give only 3 changes to enter the pin