## Variables

These are containers which store values

In [3]:
name = 'Python Programming'

In [4]:
print(name)

Python Programming

Python supports dynamic binding and typing i. e. while assigning or updating the value of a variable we don't need to specify the 
datatype the interpreter will assign it automatically (typing). While updating the value we can also assign a value of different datatype (binding)

example

In [6]:
name = 'Python'

In [7]:
name

'Python'

In [8]:
name = 5.6

In [9]:
name

5.6

## Way to print data on screen

In [10]:
a = 1
b = 2
c = 3

In [11]:
a,b,c

(1, 2, 3)

In [12]:
a,b,c = 10, 20, 30

In [13]:
print(a,b,c)

10 20 30

In [14]:
a = b = c = 30

In [15]:
print(a,b,c)

30 30 30

In [22]:
print("a =",a,"b =",b,"c =",c)

a = 30 b = 30 c = 30

In [20]:
# instead of the one above we use formatted strings
print(f"a = {a} b = {b} c = {c}")

a = 30 b = 30 c = 30

Use '#' for single line comments or use ctrl + / to comment the line
Use Triple qoutes from multi line comments
Ex

In [24]:
# This is a comment
a = 10 # this is another comment
''' This
is a 
multi line comment'''

' This\nis a \nmulti line comment'

# Keywords and identifiers

Keywrds - These are pre-defined words which perform specific functions , these cannot not be used as variables names
Ex:- 
is
in
while
for
if
elif
else

Identifiers - These are the variable names

Note: keywords and function names cannot be used as identifiers

# Rules to name identifiers

1. It should start with alphabets or '_' only

2. Can not use special characters anywhere in the name

3. Upper case and lower case letters are considered different ex:- name is no same as Name

4. Two variables can't have same names

## Input

variable_name = input("message(tell what to input)")

In [1]:
name = input("Enter your name ")

Enter your name  saurya

In [2]:
name

'saurya'

Note : By defaul the input is stored in string format

To change the datatype we use type casting

In [3]:
age = int(input("Enter your age : "))

Enter your age :  18

This is called explicit type casting i. e. changing the datatype manually

In [4]:
a = 3
b = 5.3

In [5]:
a+b

8.3

Here the variable 'a' changed to float type. This is implicit type casting i. e. changing the datatype automatically

But all types can't be casted implicitly for example: -

In [6]:
a = '4'

In [11]:
b = 5.3

In [8]:
a+b

TypeError: can only concatenate str (not "int") to str

In [9]:
complex(a)

(4+0j)

In [12]:
complex(b)

(5.3+0j)

## Operators

1. Arithmetic
2. Relational 
3. Logical 
4. Bitwise
5. Assignment
6. Membership

# Arithmetic operations

In [26]:
a = 5
b = 2
print(f"Addition operator {a + b}")

Addition operator 7

In [18]:
print(f"Substraction operator {a - b}")

Substraction operator 3

In [19]:
print(f"Multiplication operator {a * b}")

Multiplication operator 10

In [20]:
print(f"Divistion operator {a / b}")

Divistion operator 2.5

In [21]:
print(f"Floor division operator {a // b}") # it will return only the integer part of the decimal

Floor division operator 2

In [23]:
print(f"Modulus operator {a % b}") # It will return the remainder

Modulus operator 1

In [25]:
print(f"Square of 5 : { 5 ** 2}")

Square of 5 : 25

# Relational Operators

In [28]:
a > b # greater than
a < b # lesser than
a >= b # greater than or equal to
a <= b # lesser than or equal to
a == b # equal to 
a != b # not equal to ( '!' is used represent not)

True

## Task 
Take input of a 3 digit number and find the sum of the digit

In [39]:
n = int(input("Enter a three digit number : "))

Enter a three digit number :  123

In [40]:
x = n % 10
n = n // 10
y = n % 10
n = n // 10
z = n % 10

In [41]:
print(x+y+z)

6

## Logical Operators

and - if all the statments are true then the output will be true. But if any statment is false it will return false

Or - if only one statement is true it will return true. But if all are false then it will false

not - it will make false statements true and true statements false

In [42]:
1 and 0

0

In [43]:
1 and 1

1

In [44]:
1 or 1

1

In [45]:
1 or 0

1

In [46]:
not 1

False

In [47]:
not 0

True

# Bitwise Operators
These will work on every bit of the data

& - is the bitwise version of 'and'

| - is the bitwise version of 'or'

~ - it is the bitwise version of not

'>>'- leftshift, it shifts to left the bits by n places (n is given after the operator)

'<<' - rightshift, it shifts to right the bits by n places (n is given after the operator)

In [1]:
4 & 5

4

In [2]:
4 | 5

5

In [3]:
~ 5

-6

In [4]:
4 >> 2

1

In [6]:
4>>2

1

In [7]:
5<<2

20

# Assignment Operator

In [8]:
a = 5 # '=' used to assign value

In [9]:
a += 2 # '+=' a = a + 2

In [10]:
a -= 2 # '+=' a = a - 2

In [11]:
a *= 2 # '+=' a = a * 2

In [12]:
a /= 2 # '+=' a = a / 2

Like this all arithmetic operators can be used with = sign as an assignment operator

# Membership Operator

in - it checks if the value is inside the collection or not. It returns true or false

not in - it is the opposite of the 'in' operator

In [14]:
1 in [1,2,3]

True

In [16]:
'a' in 'surat'

True

In [17]:
'a' not in 'surat'

False

# Conditional Statements
These statements are used to run a specific block of code only if a give conditon is true

In [25]:
if 1 > 2:
    print('1')
print('Hello')
# if is used when there is only one condition to be check
# here the first print won't run as the if condition is false

Hello

In [27]:
a = 6 
b = 9 
if a > b:
    print(a)
else:
    print(b)
# if ... else is used when you want to run another block of code if the given condition is false.
# here if the if condition is false then the code in else statement will run

9

# Tasks HW

1. Take a 3-digit number input from the user and print its reverse

In [52]:
n = int(input("Enter a three digit number : "))
a = n % 10
n //= 10
b = n % 10
n //= 10
c = n % 10
print(a,b,c,sep="")

Enter a three digit number :  123

321

2. Take a 3-digit number input, find the product of its digits and the sum of its digits, 
and then calculate the difference between the two.

In [50]:
n = int(input("Enter a 3 digit number : "))
a = n % 10
n //= 10
b = n % 10
n //= 10
c = n % 10
print((a*b*c) - (a+b+c))

Enter a 3 digit number :  123

0

3. An Armstrong number is a number in which the sum of the cubes of its digits is equal to the number itself 
(e.g., 153 because (1 **3+5 **3+3 **3=153). Check if a 3-digit number is an Armstrong number

In [55]:
n = int(input("Enter a number to check : "))
n1 = n
a = (n % 10) ** 3
n //= 10
b = (n % 10) ** 3
n //= 10
c = (n % 10) ** 3
z = a + b + c
print(n1==z)

Enter a number to check :  153

True

4.  Take two numbers as input from the user and swap their values using only arithmetic operators (no temporary variables).

In [56]:
a = int(input("Enter a number : "))
b = int(input("Enter another number : "))
print(f"a = {a} and b = {b}")
a = a + b
b = a - b
a = a - b
print(f"a = {a} and b = {b}")

Enter a number :  1
Enter another number :  2

a = 1 and b = 2
a = 2 and b = 1

END

In [1]:
n = int(input("Enter a number : "))
if n > 0:
    print("Positive")
elif n == 0:
    print("Zero")
else: 
    print("Negative")
# elif is used to check for multiple conditions

Enter a number :  0

Zero

# Task

In [21]:
# Task 1 - age group
age = int(input("Enter your age : "))
if age < 13:
    print("Child")
elif age >= 13 and age <= 19:
    print("Teenager")
elif age >= 20 and age <= 40:
    print("Adult")
elif age > 40 and age < 60:
    print("Mid age")
else:
    print("Senior Citizen")

Enter your age :  12

Child

In [22]:
# Task 2 - User name and password checker
name = 'Saurya'
pw = 'paswrd123'
user_name = input("Enter your user name : ")
user_pw = input("Enter your password : ")
if name == user_name:
    if pw == user_pw:
        print("Login successfully")
    else: 
        user_pw = input("Enter your password : ")
        if pw == user_pw:
            print("Login successfully")
        else:
            print("Wrong password, try again after 5 mins....")
else:
    print("User does not exist")
# this is nested conditionals, it is used when you need check a condition only after some other condition

Enter your user name :  Saurya
Enter your password :  paswrd123

Login successfully

In [23]:
# Task 3 - WAP to check whether the last digit of a number is divisible by 3 or not
b = int(input("Enter a number : "))
if (b % 10) % 3 == 0:
    print("The last digit is divisible by 3")
else:
    print("The last digit is not divisible by 3")

Enter a number :  123

The last digit is divisible by 3

END

# Loops 
Loops help to repeat a task over and over without rewriting the code many times
Types of loops: -
1. While loop
2. For loop

In [5]:
# While loops
i = 1 # initialisation
while i < 11: # condition
    print(i)
    i += 1  #increment

1
2
3
4
5
6
7
8
9
10

In [9]:
#Example - loop to find sum of numbers 1 to 10
i = 1
total = 0
while i <= 10:
    total += i
    i += 1
print(f"The sum is {total}")

The sum is 55

# Tasks

Take input of two numbers and print all the even numbers between them.

In [6]:
x = int(input("Enter a number : "))
y = int(input("Enter another number : "))
while x < y:
    if x % 2 == 1:
        x += 1
    print(x)
    x += 2
while x > y:
    if x % 2 == 1:
        x -= 1
    print(x)
    x -= 2

Enter a number :  15
Enter another number :  5

14
12
10
8
6

In [11]:
#print first 10 even numbers
i = 0 
while i <= 20:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20

In [12]:
#print first 10 odd numbers
i = 1
while i <= 20:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19

In [1]:
# print first 1- integer and their square
i = 1
while i <= 10:
    print(i, i**2)
    i += 1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [7]:
# print the series 10,20,30,....,300
i = 10
while i <= 300:
    print(i)
    i += 10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [8]:
#print series - 105,98, 91, ....., 7
i = 105
while i >= 7:
    print(i)
    i -= 7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [2]:
#WAP to print first 10 even numbers in reverse order
x = 10
while x > 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [11]:
#WAP to check whether a number is  prime or not
n = int(input("Enter a number : "))
x = 2
is_prime = True
while x < n:
    if n % x == 0:
        print("The number is not prime")
        is_prime = False
        break
    x += 1
if is_prime:
    print("The number is prime")

Enter a number :  7

The number is prime

In [12]:
#WAP to find the sum of digits of a number accepted from the user. 
n = int(input("Enter a number : "))
total = 0 
while n > 0:
    total += n % 10
    n //= 10
print(f"The sum of digits is {total}")

Enter a number :  123

The sum of digits is 6

In [22]:
#WAP to program to reverse the number accepted from the user using a while loop
n = int(input("Enter a number : "))
reverse_num = 0 
while n > 0:
    reverse_num = (reverse_num * 10) + (n % 10)
    n //= 10
print(reverse_num)

Enter a number :  123

321

In [28]:
#WAP to print fibonacci series till n terms using while loop 
n = int(input("Enter the number of terms : "))
p = 0 
l = 1
while n > 0:
    p = p + l
    print(p)
    p,l = l,p
    n -= 1

Enter the number of terms :  10

1
2
3
5
8
13
21
34
55
89

In [31]:
#WAP to check whether a number is aemstron or not using while loop
x = int(input("Enter a number to check : "))
y = x
z = 0 
while x > 0:
    z += (x % 10) ** 3
    x //= 10
if z == y:
    print("It is an armstrong number")
else:
    print("It is not an armstrong number")

Enter a number to check :  152

It is not an armstrong number

END

In [4]:
#For loop - it is used when we know the number of iteration
for i in range(0,21,2): # i is the variable we initialized and in range(start, stop, step) step is step is optional by defualt it is '1'
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [2]:
#printing numbers in reverse order
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# Loop control statements

1. break - it will end the loop
2. continue - it will skip particular iteration of the loop
3. pass - it works as a place holder it helps to avoid errors where you need to write the code later

In [5]:
for i in range(1,10):
    if i == 5:
        break
    print(i)
#here it will end the loop when i = 5

1
2
3
4

In [6]:
for i in range(1,10):
    if i == 5:
        continue
    print(i)
#here it will skip the iteration where i = 5

1
2
3
4
6
7
8
9

In [7]:
for i in range(1,10):
    if i == 5:
        pass
    print(i)
#here nothing will be affected as pass is just a placeholder

1
2
3
4
5
6
7
8
9

In [18]:
row = int(input("Enter the number of rows : "))
n = 1
for i in range(1, (row*2), 2):
    print(" " * (row - n),end="")
    print("*" * i)
    n += 1

Enter the number of rows :  5

    *
   ***
  *****
 *******
*********

In [23]:
n = 1
for i in range(1, 10, 2):
    print(" " * (5 - n),end="")
    print("*" * i)
    n += 1
n += 1
for i in range(1,5):
    print(" " * i,end="")
    print("*" * n)
    n -= 2

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# Lists
It is a datatype where you can add multiple values or items under a single name.
## Characteristics
1. Ordered 
2. Mutable/changeble
3. can have duplicates
4. heterogenous
5. dynamic
6. can be nested

In [1]:
#delcaring a list
l = [1,2,3]
type(l)

list

In [4]:
#to access a specific element
print(l[0]) # list_name[index] index starts from '0' (zero)

1

In [5]:
#create an empty list
l1= []

In [7]:
#different types of lists
l = [1,2,3] # 1-D -> homogenous -> all elements are of same datatype
l = [1,2.3,'a', True] # 1-D -> heterogenous -> elements are of different types
l = [1,2,['a','a',12]] # 2-D nested list

In [9]:
#converting string into list
s = 'hello'
l = list(s)
print(l)

['h', 'e', 'l', 'l', 'o']

In [1]:
#accessing element from nested lists 
l = [ [ [1,2],[3,4] ] ,[ [5,6],[7,8] ] ]
l[1][0][0]

5

# List slicing 
Access multiple elements of the list using indexs

In [13]:
l = 'hello'
l = list(l)

In [14]:
#to print hell from hello 
l[0:4] # list_name[start : stop : step]

['h', 'e', 'l', 'l']

In [15]:
#printing in reverse
l[::-1]

['o', 'l', 'l', 'e', 'h']

In [16]:
l.append('world') # to add a element at the end of the list
l

['h', 'e', 'l', 'l', 'o', 'world']

In [17]:
l.extend('world') # it will merge 2 lists 
l

['h', 'e', 'l', 'l', 'o', 'world', 'w', 'o', 'r', 'l', 'd']

In [18]:
l.insert(4, 'O') # to insert a value at a particular index

In [19]:
l

['h', 'e', 'l', 'l', 'O', 'o', 'world', 'w', 'o', 'r', 'l', 'd']

In [21]:
l.remove('O') #to remove a particular value from the list

In [22]:
l

['h', 'e', 'l', 'l', 'o', 'world', 'w', 'o', 'r', 'l', 'd']

In [26]:
del l[5] #to delete a particular element using it's index (it's not a function of list)

In [27]:
l

['h', 'e', 'l', 'l', 'o', 'o', 'r', 'l', 'd']

In [28]:
l.pop() #it's list's method to delete an element from the list, if you don't provide the index it wll delete the last element

'd'

In [29]:
l.insert(5,'w')
l

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l']

In [30]:
#to edit a value of the list
l[5] = 'W'
l

['h', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l']

In [31]:
#to merge two lists using '+' operator
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [33]:
#to print the list multiple times using '*' operator
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
#to find the length of the list
len(a)

3

In [35]:
#to empty the list
b.clear()

In [36]:
# to find how many times a value is in the list
a.count(1)

1

In [38]:
#to find max and min from a list
print(max(a))
min(a)

3

1

In [39]:
# to sort an list
sorted(a)

[1, 2, 3]

# List comprehension
It is used to create a list using loops within the square brackets

In [45]:
#to store the squres of the value of the list 'a' in another list
l1 = [i**2 for i in a] 
l1

[1, 4, 9]

# Zip()
It will return a list of tuples where each tuple contain the element from the lists which had the same index number. If the lengths of the lists are different the longer list's length will be the length of the new list

In [48]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
list(zip(l1,l2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [47]:
# to create a list which contains the sum of elements of both lists which are on the same index
l3 = [i+j for i,j in zip(l1,l2)]
l3

[6, 8, 10, 12]

# Tuple

In [1]:
#empty tuple
t = ()
type(t)

tuple

In [2]:
#packing and unpacking
a,b,c = (1,2,3,4,5)

ValueError: too many values to unpack (expected 3)

In [3]:
#to avoid the aobve error
a,*b,c = (1,2,3,4,5)
#now variable with the '*' will store a list of the extra elements

In [4]:
b

[2, 3, 4]

In [5]:
#also we can't use multiple '*''s 
a,*b,*c = (1,2,3,4,5)

SyntaxError: two starred expressions in assignment (1847620780.py, line 5)

In [17]:
t = 1,2,3,4,5

In [7]:
max(t)

5

In [8]:
min(t)

1

In [9]:
sum(t)

15

In [10]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
t.extend((6,7,8))

AttributeError: 'tuple' object has no attribute 'extend'

In [12]:
t.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [13]:
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [14]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [15]:
t.insert(2,10)

AttributeError: 'tuple' object has no attribute 'insert'

These all functions don't work on a tuple as tuple is an immutable datatype which means once we have assigned a value to the tuple we can't change it

# Sets
1. It is unorderred
2. it is mutable
3. contains only unique elements
4. the elements in it should be immutable

In [20]:
# to create an empty set
s = set()
type(s)

set

In [2]:
s = {1,2,3}

In [4]:
s[1] #as set is unordered it doesn't support indexs

TypeError: 'set' object is not subscriptable

In [5]:
s.add(4) #to add an element

In [6]:
s

{1, 2, 3, 4}

In [8]:
s.add(2)
s

{1, 2, 3, 4}

In [9]:
s.pop()
s

{2, 3, 4}

In [10]:
s.discard(4) #to delete an particular element

In [13]:
s.discard(50) #it won't show an error even if the element is not in the set
s

{2, 3}

In [14]:
s.clear() #to clear all the elements

In [15]:
s

set()

In [16]:
s = {1, 2, 3, 4}

In [17]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# UNION
It is used to add both the sets

In [18]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
s1.union(s2) # can be stored in another variable

{1, 2, 3, 4, 5, 6, 7, 8}

# Intersection 
It is used to find the common elements between both the sets

In [21]:
s1 & s2

{4, 5}

In [22]:
s1.intersection(s2)

{4, 5}

# Difference
It will return the elements of the first set except the ones which are common between both sets

In [23]:
s1 - s2

{1, 2, 3}

In [24]:
s2 - s1

{6, 7, 8}

In [25]:
s1.difference(s2)

{1, 2, 3}

In [27]:
s2.difference(s1)

{6, 7, 8}

# Symmetric Difference
It will return all elements except the common elements

In [29]:
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [30]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

# Super Set, Sub Set and Disjoint set

In [31]:
s = {1,2,3,4,5,6,7,8,9,10}
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}

In [33]:
s1.issubset(s) # subset means that, that set is contained within another set

True

In [35]:
s.issuperset(s1) # super set means that, that set contains some other smaller set

True

In [37]:
s1.isdisjoint(s2) # disjoint sets means the two sets have no common values

True

In [42]:
s.isdisjoint(s1)

False

# Set comprehension

In [38]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
{i ** 2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# Frozenset

In [1]:
fs = frozenset([1,2,3,4,5,6,7,8,9])

In [2]:
fs.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [3]:
fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [4]:
fs.discard(7)

AttributeError: 'frozenset' object has no attribute 'discard'

In [5]:
fs.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

These all methods don't work on a frozenset as once it's value it defined we can't not change it

In [9]:
fs1 = frozenset([1,2,3,4,5])
fs2 = frozenset([4,5,6,7,8])

In [10]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [11]:
fs1.intersection(fs2)

frozenset({4, 5})

In [12]:
fs1.difference(fs2)

frozenset({1, 2, 3})

In [13]:
fs2.difference(fs1)

frozenset({6, 7, 8})

In [14]:
fs1.symmetric_difference(fs2)

frozenset({1, 2, 3, 6, 7, 8})

In [15]:
fs = frozenset([1,2,3,4,5,6,7,8,9,10])
fs1 = frozenset([1,2,3,4,5])
fs2 = frozenset([6,7,8,9,10])

In [16]:
fs1.issubset(fs)

True

In [19]:
fs.issuperset(fs2)

True

In [18]:
fs1.isdisjoint(fs2)

True

# Dictionaries

In [2]:
#to create an empty dictionary
d = {}
print(type(d), d)

<class 'dict'> {}

In [3]:
#to create a dictionary
d = {'name': 'Saurya', 'age': 18, 'gender': 'male'}
d

{'name': 'Saurya', 'age': 18, 'gender': 'male'}

It is stored in a pair of keys and values separated by ':'

The values can be anything but the keys can only be of immutable datatype

In [5]:
d1 = {[1,2,3]:'name'}

TypeError: unhashable type: 'list'

In [7]:
#to access an element
d['name'] 
#dictionaries don't have index so we use the key to access the values

'Saurya'

In [9]:
#to add a new item
d['enrollment_no'] = 120100111120
#here he need to provide the key in the '[]' and using '=' assign that key a value

In [11]:
#to delete a value - here the agrument is complusory
d.pop('enrollment_no')

120100111120

In [12]:
#to delete the last item
d.popitem()

('gender', 'male')

In [13]:
#to get all the keys
d.keys()

dict_keys(['name', 'age'])

In [14]:
#to get all the items
d.values()

dict_values(['Saurya', 18])

In [15]:
d.items()

dict_items([('name', 'Saurya'), ('age', 18)])

In [16]:
#dictionary comprehension
{i : i ** 2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Strings

In [18]:
s = 'It\'s hot outside'
s

"It's hot outside"

In [19]:
s[0]

'I'

In [20]:
s[-1]

'e'

In [21]:
len(s)

16

In [22]:
s[0:5]

"It's "

In [24]:
s[0] = 'i'
#this will throw an error as strings are immutable

TypeError: 'str' object does not support item assignment

In [25]:
'abad' + 'surat'

'abadsurat'

In [27]:
'abad ' * 3

'abad abad abad '

In [28]:
'Abad' > 'abad'

False

In [29]:
'Abad' < 'abad'

True

It is checking the ACSII values of the characters

In [31]:
s

"It's hot outside"

In [32]:
max(s)

'u'

In [33]:
min(s)

' '

In [34]:
sorted(s)

[' ',
 ' ',
 "'",
 'I',
 'd',
 'e',
 'h',
 'i',
 'o',
 'o',
 's',
 's',
 't',
 't',
 't',
 'u']

In [38]:
s.capitalize() #it will convert the fisrt character to uppercase

"It's hot outside"

In [39]:
s.title() #it will capitalize the first character of every word

"It'S Hot Outside"

In [40]:
s.upper()

"IT'S HOT OUTSIDE"

In [42]:
s.lower()

"it's hot outside"

In [43]:
s.swapcase()

"iT'S HOT OUTSIDE"

# String Methods

In [2]:
s = "hello word!"

In [47]:
s.capitalize()

'Hello word!'

In [57]:
s.casefold() #converts string into lower case

'hello word!'

In [53]:
s.center(3)

'hello word!'

In [44]:
s.count('o') #returns the number of times a specified value occurs in a string

2

In [61]:
s.encode() #Returns an encoded version of the string

b'hello word!'

In [62]:
s.endswith('d') # Returns true if the string ends with the specified value

False

In [64]:
s.expandtabs() #sets the tab size of the string

'hello word!'

In [66]:
s.find('hell') #searches the string for a specified value adn returns the position of where it was found

0

In [68]:
s.format() #formats specified values in a string

'hello word!'

In [71]:
s.index('o') #searches the string for a specified value and returns the position of where it was found

4

In [72]:
s.isalnum() #returns true if all characters in the string are alphanumeric

False

In [73]:
s.isalpha() #Returns true if all characters in the string are in the alphabet

False

In [74]:
s.isascii() #Returns true if all characters in the string are ascii characters

True

In [75]:
s.isdecimal() #returns true if all characters in the string are decimals

False

In [77]:
s.isdigit() #returns true if all characters in the string are digits

False

In [78]:
s.isidentifier() #returns true if the string is an identifier

False

In [79]:
s.islower() #returns true if all characters in the string are lower case

True

In [81]:
s.isnumeric() #returns true if all characters in te string are numeric

False

In [82]:
s.isprintable() #returns true if all characters in the string are printable

True

In [84]:
s.isspace() #returns true if all characters in the string are whitespaces

False

In [85]:
s.istitle() #returns true if the string is in title format

False

In [86]:
s.isupper() #returns true if all characters in the string are upper case

False

In [91]:
s.join('a') #converts the elements of an iterable into a string

'a'

In [3]:
s.lower() #converts a string into lower case

'hello word!'

In [6]:
s.lstrip() #returns a left trim version of the string

'hello word!'

In [14]:
s.partition('o') #returns a tuple where the string is parted into three parts

('hell', 'o', ' word!')

In [16]:
s.replace('o','1') #returns a string where a specified value is replaced with a speified value

'hell1 w1rd!'

In [18]:
s.rpartition('o') #returns a tuple where the string is parted into thrre parts, this one works on the right most element

('hello w', 'o', 'rd!')

In [19]:
s.rfind('o') #searches the string for a specified value and returns the last position of wher it was found

7

In [20]:
s.rindex('o') #searches the string for a specified value and returns the last position of where it was found

7

In [22]:
s.split("o") #splits the string at the specified separator, and returns a list

['hell', ' w', 'rd!']

In [24]:
s.rsplit("o") #splits the string at the specified separator and returns a list

['hell', ' w', 'rd!']

In [25]:
s.rstrip() #returns a right trim version of the string

'hello word!'

In [26]:
s.splitlines() #splits the strin at line breaks and returns a list

['hello word!']

In [28]:
s.startswith('h') #returns true if the string starts with the specified value

True

In [29]:
s.strip() #returns a trimmed version of the string

'hello word!'

In [30]:
s.swapcase() #swaps cases, lowercase becomes uppercase and vice versa

'HELLO WORD!'

In [31]:
s.title() #converts the first character of each word to upper case

'Hello Word!'

In [40]:
s.translate({104:103}) #returns a translated string

'gello word!'

In [41]:
s.upper() #converts a string into upper case

'HELLO WORD!'

In [3]:
s.zfill(3) #fills the string with a specified number of 0 values at the beginning

'hello word!'

# Functions
It is a reusable block of code that performs a specific taks. It helps us to organize code, improve readibility and avoid repitition. Types of funtions :
1. Built-in functions - they are already available in python (print(), type(), etc)
2. User defined functions - functions created by users to perform specfic tasks

In [15]:
#to create a function 
# no parameter no return value
''' syntax : 
def <function_name>():
    block of code'''
def greet(): 
    print("Welcome to the class")
greet()

Welcome to the class

In [16]:
# to check even/odd
# parameter and no return value
def even_odd(num): #here num is a parameter (parameter is the value passed in a function while it's creation)
    if num % 2 == 0:
        print("Number is even")
    else: 
        print("number is odd")
even_odd(10) #here 10 is argument (argument is the value passed in a function while it is called)

Number is even

In [17]:
# calling a function in a loop
for i in range(10):
    print(even_odd(i))

Number is even
None
number is odd
None
Number is even
None
number is odd
None
Number is even
None
number is odd
None
Number is even
None
number is odd
None
Number is even
None
number is odd
None

The return statement is used to send back a value from te function to the caller. when function hits a return statment the exxecution of the function will stop

In [18]:
def even_odd(num):
    if num % 2 == 0:
        return f"{num} is even" 
    return f"{num} is odd"
for i in range(10):
    print(even_odd(i))

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [20]:
#returning multiple values - the values will be stored in a tuple
def add(a,b):
    return a+b, a-b
add(5,3)

(8, 2)

# Types of arguments

1. positional 
2. default
3. keyword

In [22]:
# positional args
def power(n,n1):
    return n ** n1
power(5,2)

25

In [23]:
# default args - to give a default value if the user doesn't provide an argument
def power(n, n1 = 2):
    return n ** n1
power(5)

25

In [24]:
# keyword args - using the name of parameter to pass the arguments
power(n1 = 2, n = 5)

25

# *args (variable args) and **kwargs (variables keyword args)

In [26]:
# *args - it allows us to pass a variable number of non-keyword arguments to a functions
def add(*num):
    summ = 0
    for i in num:
        summ += i
    print(num)
    return summ
print(add(1,2,3,4,5,6,7,8,9))
print(add(1,2,3,4,5))
print(add(1,2))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
45
(1, 2, 3, 4, 5)
15
(1, 2)
3

In [30]:
# **kwargs - it allows us to pass any number of keyword args
# keyword arg means that they contin a key-value pair like dict
def display(**c):
    for (k,v) in c.items():
        print(k,'->',v)
display(india = 'delhi')
print()
display(india = 'delhi', china = 'shanghai')

india -> delhi

india -> delhi
china -> shanghai

# Variable Scope